<app-header></app-header>
<nav>
    <ul class="d-inline-flex justify-content-center">
        <li routerLinkActive="active"><a routerLink="/house-list">Houses List</a></li>
        <li routerLinkActive="active"><a routerLink="/house-show/1">Houses 1</a></li>
        <li routerLinkActive="active"><a routerLink="/house-show/2">Houses 2</a></li>
        <li routerLinkActive="active"><a routerLink="/house-show/3">Houses 3</a></li>
        <li routerLinkActive="active"><a routerLink="/house-show/4">Houses 4</a></li>
        <li routerLinkActive="active"><a routerLink="/house-show/5">Houses 5</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
